/* Hero Section */
    #hero-section{
        position: relative;
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('../img/hero-image.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:top center;
        max-width: 1750px;
        height: 92vh;
    }
    #hero-section .copy{
        position: absolute;
        padding-left: 100px;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    #hero-section .copy h1{
        color: #FFF;
        font-size: 3em;
        font-weight: 700;
    }
    #hero-section .copy p{
        color: #FFF;
        font-size: 1.3em;
        font-weight: 600;
    }
    @media (max-width:992px){
        #hero-section .copy{
            padding-left: unset;
            text-align: center;
        }
    }
    @media (max-width:767.92px){
        #hero-section .copy h1{
            color: #FFF;
            font-size: 2em;
            font-weight: 700;
        }
        #hero-section .copy p{
            color: #FFF;
            font-size: 0.9em;
            font-weight: 600;
        }
    }
/* END Hero Section */

/* Menu Amalan */
    #menu-amalan{
        padding: 80px 0 20px;
    }
    #menu-amalan h3{
        font-weight: 700;
    }
    #menu-amalan .amalan a{
        text-decoration: none;
    }
    #menu-amalan .list-amalan{
        height: 160px;
        display: flex;
        width: 300px;
        border-radius: 8px;
        padding: 20px 0;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
        align-items: center;
        justify-content: center;
    }
    #menu-amalan .list-amalan p{
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }
    @media (max-width:992px){
        #menu-amalan{
            padding: 30px 10px;
        }
        #menu-amalan h3{
            font-size: 22px;
            text-align: center;
            font-weight: 700;
        }
        #menu-amalan .amalan{
            display: inline-block !important;
            width: 100%;
        }
        #menu-amalan .list-amalan p{
            font-size: 18px;
        }
    }
/* END Menu Amalan */

/* Penggalangan Dana */
    #penggalangan-dana{
        padding: 80px 0;
    }
    #penggalangan-dana h3{
        font-weight: 700;
    }
    #penggalangan-dana .penggalangan a{
        text-decoration: none;
    }
    #penggalangan-dana .list-penggalangan{
        width: 238px;
        height: 357px;
        border-radius: 8px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    }
    #penggalangan-dana .list-penggalangan p{
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }
    @media (max-width:992px){
        #penggalangan-dana{
            padding: 30px 10px;
        }
        #penggalangan-dana h3{
            font-size: 22px;
            text-align: center;
            font-weight: 700;
        }
        #penggalangan-dana .penggalangan{
            display: inline-block !important;
            width: 100%;
        }
        #penggalangan-dana .list-penggalangan p{
            font-size: 18px;
        }
    }
/* END Penggalangan Dana */

/* Blogs */
    #blogs{
        padding: 80px 0;
    }
    #blogs h3{
        font-weight: 700;
    }
    #blogs .blogs a{
        text-decoration: none;
    }
    #blogs .list-blogs{
        width: 396px;
        height: 396px;
        border-radius: 8px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    }
    #blogs .list-blogs p{
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }
    @media (max-width:992px){
        #blogs{
            padding: 70px 10px;
        }
        #blogs h3{
            font-size: 22px;
            text-align: center;
            font-weight: 700;
        }
        #blogs .blogs{
            display: inline-block !important;
            width: 100%;
        }
        #blogs .list-blogs p{
            font-size: 18px;
        }
    }
/* End Blogs */