@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Sarabun';
    font-size: 16px;
    font-weight: 400;
}
@media (max-width:992px){
    *{
        font-size: 12px;
    }
}
body{
    background-color: #EDF1D6;
}
.navbar{
    background: #EDF1D6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar .navbar-brand{
    font-weight: 700;
}

.overflow-auto::-webkit-scrollbar {
    width: 0;
}

#gambar-header {
    width: 100%;
}

#profil{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* tiga pilar */
#three-pilar{
    background-color: #609966;
    max-width: 1750px;
    margin: 0 auto;
    padding: 20px 180px;
}
footer.container{
    padding: 80px 200px;
}
@media (max-width:992px){
    #three-pilar{
        padding: 20px 10px;
    }
    #three-pilar .list-pilar{
        width: 49%;
    }
    footer.container{
        padding: 50px;
    }
    footer.container .list-contact{
        padding: 10px 0 !important;
    }
}
footer ul{
    padding-left: 0;
}
footer ul li{
    list-style: none;
}

@media (max-width:992px){
    #profil{
        width: 25px;
        height: 25px;
    }
}

@media (max-width:768px){
    *{
        font-size: xx-small;
    }
    #profil{
        width: 25px;
        height: 25px;
    }
}

@media(max-width:576px){
    *{
        font-size: xx-small;
    }
    #profil{
        width: 25px;
        height: 25px;
    }
}

@media(min-width: 360px){
    *{
        font-size: 12px;
    }
}