@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Sarabun';
    font-size: 16px;
    font-weight: 400;
}
@media (max-width:992px){
    *{
        font-size: 12px;
    }
}
body{
    background-color: #EDF1D6;
}
.navbar{
    background: #EDF1D6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar .navbar-brand{
    font-weight: 700;
}
.dropdown-menu[data-bs-popper] {
    left: -55%;
}
.dropdown-item.profile h5 {
    margin-bottom: 0;
    vertical-align: middle;
}

.btn-zakatii{
    background-color: #609966;
    color: white;
    padding: 8px 16px;
    border: 1px solid #528a58;
    transition: 0.2s ease-in-out;
}
.btn-zakatii:hover{
    background-color: #609966;
    color: white;
    padding: 8px 16px;
    border: 1px solid #528a58;
    box-shadow: 0px 7px 10px -2px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
    transition: 0.2s ease-in-out;
}
.btn-zakatii-2{
    border-radius: 27px;
    background: #EDF1D6;
    color: black;
    padding: 8px 25px;
    border: 1px solid #EDF1D6;
    transition: 0.2s ease-in-out;
    /* font */
    font-weight: 700;
}
.btn-zakatii-2:hover{
    border-radius: 27px;
    background: #EDF1D6;
    color: black;
    padding: 8px 25px;
    border: 1px solid #EDF1D6;
    box-shadow: 0px 7px 10px -2px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
    transition: 0.2s ease-in-out;
}

/* Progress Penggalangan Dana */
    #progress-penggalangan{
        padding: 80px 0;
    }
    #progress-penggalangan .number-progress{
        left: 0;
        top: 0;
    }
    #progress-penggalangan .number-progress .list-number{
        width: 50px;
        height: 50px;
        background-color: #EDF1D6;
        border-radius: 50%;
        border: 2px solid black;
        margin: 0 20px;
        
        /* font */
        font-weight: 700;
    }
    #progress-penggalangan .number-progress{
        justify-content: space-between;
    }
    @media (max-width:767.92px){
        #progress-penggalangan .number-progress{
            justify-content: space-evenly;
        }
    }
    #progress-penggalangan .number-progress .list-number.active{
        background-color: #609966;
        color: white;
    }
    #progress-penggalangan .input-progress{
        padding: 50px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
    }
    #progress-penggalangan .list-input.active{
        display: block;
    }
    #progress-penggalangan .list-input.fade{
        display: none;
    }
/* END Progress Penggalangan Dana */

#three-pilar{
    background-color: #609966;
    max-width: 1750px;
    margin: 0 auto;
    padding: 20px 180px;
}
footer.container{
    padding: 80px 200px;
}
@media (max-width:992px){
    #three-pilar{
        padding: 20px 10px;
    }
    #three-pilar .list-pilar{
        width: 49%;
    }
    footer.container{
        padding: 50px;
    }
    footer.container .list-contact{
        padding: 10px 0 !important;
    }
}
footer ul{
    padding-left: 0;
}
footer ul li{
    list-style: none;
}