/* PILIHAN ZIS */
    #pilihan-zakat{
        margin-top: 30px;
    }
    .kotak-pilihan-zakat{
        position: relative;
        width: 869px;
        padding: 8px 30px 0;
        border-radius: 17px;
        background: #609966;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.50);
        bottom: -20px;
    }
    .kotak-pilihan-zakat .copy h2{
        font-size: 40px;
        font-weight: 700;
        color: #FFF;
    }
    .kotak-pilihan-zakat .nav-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 128px;
        height: 100%;
        text-align: center;
    }
    .kotak-pilihan-zakat .nav-link.active{
        height: 130%;
        background-color: #EDF1D6;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .kotak-pilihan-zakat .nav-link p{
        color: #FFF;
        font-weight: 700;
        margin:0;
    }
    .kotak-pilihan-zakat .nav-link.active p{
        color: #000;
    }
    @media (max-width:992px){
        .kotak-pilihan-zakat .copy h2{
            font-size: 22px;
            margin-top: 10px;
        }
        /* .kotak-pilihan-zakat .nav-link.active{
            height: 125%;
        } */
        .kotak-pilihan-zakat .nav-link img{
            width: 35px;
        }
        .kotak-pilihan-zakat .nav-link{
            width: 100px;
        }
    }
/* END PILIHAN ZIS */

/* CONTENT ZIS LIST */
    #content-zis-list{
        max-width: 1750px;
        padding: 80px 120px 40px;
        margin: 0 auto;
    }
    #content-zis-list .kalkulator .card.card-body{
        max-width: 60%;
    }
    #content-zis-list .kalkulator .card.card-body .total{
        border-radius: 10px;
        background: #609966;
        height: 270px;
        /* font */
        color: white;
    }
    #content-zis-list .filter{
        background-color: #609966;
        padding: 8px;
        border-radius: 30px;
    }
    #content-zis-list .filter .nav .nav-link{
        color: white;
        font-weight: 400;
    }
    #content-zis-list .filter .nav .nav-link.active{
        font-weight: 700;
        text-decoration: underline;
    }
    #content-zis-list .list-item .card-zis{
        background-color: white;
        margin: 5px 10px;
        padding: 12px;
        border-radius: 8px;
    }
    #content-zis-list .list-item .img-zis{
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }
    #content-zis-list .list-item .progress {
        --bs-progress-height: 10px;
        --bs-progress-bar-bg: #609966;
        --bs-progress-bg: none;
        border: 1px solid #609966;
    }
    @media (max-width:767.92px){
        #content-zis-list{
            padding: 80px 10px 40px;
        }
        #content-zis-list .kalkulator .card.card-body {
            max-width: 100%;
        }
        #content-zis-list .filter .filter-search{
            text-align: center;
            width: 75%;
        }
        #content-zis-list .filter .filter-search form,
        #content-zis-list .filter .filter-search input{
            width: 100%;
        }
        #content-zis-list .list-item{
            padding: 0 10px;
        }
    }
    @media (max-width:992px){
        #content-zis-list .kalkulator .card.card-body {
            max-width: 100%;
        }
    }
/* END CONTENT ZIS LIST */